@import 'normalize.css';
/* @import 'reset-css'; */
@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  /* Colors */
  --color-thistle: #c8b8dbff;
  --color-ivory: #fffef0ff;
  --color-black-olive: #373d29ff;
  --color-palatinate: #5a0b4dff;
  --color-plum: #8d3b72ff;

  --color-night: #141115ff;
  --color-french-violet: #6622ccff;
  --color-ultra-violet: #4f517dff;

  --color-mauve: #cba8f5ff;
  --color-madder: #a71d31ff;

  --color-periwinkle: #c9c9eeff;
  --color-rose-quartz: #baabbdff;
  --color-persian-indigo: #320d6dff;
  --color-raspberry-rose: #aa4465ff;

  --color-tekhelet: #53229cff;

  --color-first: var(--color-ultra-violet);
  --color-second: var(--color-periwinkle);
  --color-third: var(--color-persian-indigo);
  --color-fourth: var(--color-ivory);
  --color-fifth: var(--color-black-olive);
  --color-sixth: var(--color-raspberry-rose);
  --color-seventh: var(--color-tekhelet);
  --color-eighth: var(--color-plum);
  --color-ninth: var(--color-french-violet);
  --color-tenth: var(--color-thistle);

  /* Fonts */
  --font-family: 'Arial', sans-serif;
}

body {
  background-color: var(--color-first) !important;
}

header {
  background-color: var(--color-seventh) !important;
}

footer {
  background-color: var(--color-seventh) !important;
}

.nav-pills .nav-link {
  transition: box-shadow 0.3s ease;
  transition: background-color 0.3s ease;
}

.nav-pills .nav-link.active {
  /* color: ; */
  background-color: var(--color-third) !important;
  border: 1px solid var(--color-fourth) !important;
  transition: box-shadow 0.3s ease;
}

.nav-pills .nav-link:hover {
  background-color: var(--color-sixth) !important;
  /* White shadow */
  box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.7);
}

.btn {
  background-color: var(--color-third) !important;
  border: var(--bs-btn-border-width) solid var(--color-third) !important;
  /* box-shadow: 0 0 0 1px black; */
  transition: background-color 0.5s ease !important;
}

.btn:hover {
  background-color: var(--color-sixth) !important;
  border: var(--bs-btn-border-width) solid var(--color-fourth) !important;
}

.card {
  /* border: var(--bs-card-border-width) solid var(--color-fifth) !important; */
  border: 2px solid var(--color-fifth) !important;
  color: var(--color-third) !important;
  --bs-card-bg: var(--color-second) !important;
  box-shadow: 2px 2px 10px 4px rgba(255, 255, 255, 0.7);
  transition: box-shadow 0.3s ease !important;
}

.card-special:hover {
  --bs-card-bg: var(--color-eighth) !important;
  color: var(--color-fourth) !important;
  box-shadow: 0 0 30px 8px rgba(167, 29, 49, 0.7);
}

.card-body {
  /* border-top: var(--bs-card-border-width) solid var(--color-fifth) !important; */
  border-top: 2px solid var(--color-fifth) !important;
}

.form-control {
  color: black !important;
  background-color: var(--color-second) !important;
}

.bordered-text {
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

.rounded-btn {
  border-radius: 5em !important;
  /* box-shadow: none; */
}

.rounded-btn:hover {
  border: var(--bs-btn-border-width) solid var(--color-sixth) !important;
}

body.modal-open>div>div>header,
body.modal-open>div>div>footer {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

body.modal-open>div>div>main>.container {
  -webkit-filter: blur(30px);
  -moz-filter: blur(30px);
  -o-filter: blur(30px);
  -ms-filter: blur(30px);
  filter: blur(30px);
}

a {
  text-decoration: none !important;
}

p {
  font-family: 
}

.head-font {
  font-family: ;
}

.name-font {
  font-family: 
}